#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

.jumbotron {
  background-color: lightblue
}

th {
  background-color: lightblue;
  font-size: large;
  
}